h1 {
    font-size: 38px;
}

#site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 62px;
    background-color: #252120;
    border-bottom: 2px solid #233237;
}

#main-content {
    background-color: #252120;
    background-size: cover;
    background-position: 30% 50%;
    width: 100%;
    position: fixed;
    bottom: 0;
    top: 64px;
}

#menu-wrapper {
    background-color: #252120;
    background-size: cover;
    width: calc(100% - 65px);
    position: fixed;
    bottom: 0;
    top: 64px;
    z-index: 90;
    opacity: 0.9;
    left: 100%;
}

#cart-wrapper {
    background-color: #252120;
    background-size: cover;
    width: calc(100% - 65px);
    position: fixed;
    bottom: 0;
    top: 64px;
    z-index: 90;
    opacity: 0.9;
    left: 100%;
}

#logo-wrapper {
    float: left;
}

#site-title {
    font-size: 30px;
    display: block;
    float: right;
    margin-top: 13px;
    margin-bottom: 13px;
}

#icon-wrapper {
    float: right;
}

#cart-btn,
#menu-btn {
    height: 40px;
    width: 40px;
    margin: 12px;
}

#logo-img {
    width: 64px;
    height: 64px;
    margin-right: 5px;
}

#help_btn {
    width: 55px;
    height: 55px;
    position: absolute;
    left: 5px;
    bottom: 8px;
    z-index: 100;
    opacity: 0.8;
    border-radius: 55px 55px 55px 55px;
    background-image: url(../../images/icons/help.png);
    background-size: cover;
}

#help_wrapper {
    display: none;
}

.content-bg-overlay {
    background-color: #252120;
    opacity: 0.8;
    background-size: cover;
    background-position-x: center;
    position: fixed;
    bottom: 0;
    top: 64px;
    right: 0;
    left: 0;
    margin: 0;
}