* {
    font-family: Helvetica, Arial, Sans-Serif;
    color: #eadfca;
}

@font-face {
    font-family: LogoFont;
    src: url(../../fonts/HardestStyleDemo.ttf);
}

body {
    margin: 0;
    background-color: #233237;
}

#site-title {
    font-family: LogoFont;
    color: #eadfca;
}

.menu-btns {
    user-select: none;
    color: #eadfca;
    text-align: center;
    font-size: 30px;
    height: calc(100% / 7);
    line-height: 300%;
}