/* Global */
@import url("common.css");

/* Mobile */
@import url("../../css/mobile/site.css") only screen and (max-width: 640px);

/* Desktop */
@import url("../../css/desktop/site.css") only screen and (min-width: 640px);