.products {
    background-color: #233237;
    border-radius: 8px;
    margin: 10px;
    border: 1px solid #252120;
    padding: 10px;
    width: calc(50% - 44px);
    float: left;
}

@media only screen and (max-width: 1280px) {
    .products {
        float: none;
        width: 80%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.product-name {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.product-description {
    text-align: left;
    font-size: 14px;
    margin-left: 119px;
}

.product-img {
    border: 2px solid #252120;
    background-color: white;
    border-radius: 8px;
    float: left;
    margin-right: 40px;
    margin-top: 5px;
}

.add-to-cart {
    display: inline-block;
    background-color: #b3f442;
    border-radius: 4px;
    padding: 8px 16px;
    color: #252120;
    font-weight: bold;
    margin: auto;
    user-select: none;
    cursor: pointer;
}

.product-price {
    display: block;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 119px;
}