/*imports*/
/*---------------*/

/*---------------*/

body{
    margin: 0;
    background-color: #233237;
}

header{
    background-color: #252120;
    position: fixed;
}

main{
    background-color: #252120;
}

#menu,
#cart{
    float: right;
}