.menu-btns span {
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: 0.5s ease;
}

.menu-btns span:hover {
    border-bottom-color: #eac67a;
}

.menu-btns {
    border-radius: 8px;
}

.menu-btns:hover {
    /*background: radial-gradient(#30474f 30%, #233237 70%);*/
    border-top: 1px solid #eadfca;
    border-bottom: 1px solid #eadfca;
}