.menu-btns span {
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: 0.5s ease;
}

.menu-btns span:hover {
    border-bottom-color: #eac67a;
}

@media only screen and (max-width: 940px) {
    .menu-btns {
        font-size: 20px;
    }
}