@import url(menu.css);



#site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #252120;
}

#main-content {
    background-color: #252120;
    background-size: cover;
    background-position-x: center;
    border-radius: 8px;
    width: calc(82% - 30px);
    position: fixed;
    bottom: 0;
    top: 100px;
    right: 0;
    margin: 10px;
    margin-left: 0;
}

#menu-wrapper {
    background-color: #252120;
    position: fixed;
    top: 100px;
    left: 0;
    width: 18%;
    height: calc(75% - 20px);
    margin: 10px;
    border-radius: 8px;

    z-index: 80;
}

#cart-wrapper {
    background-color: #252120;
    background-size: cover;
    width: calc(100% - 65px);
    position: fixed;
    bottom: 0;
    top: 100px;
    z-index: 90;
    opacity: 0.9;
    left: 100%;
}

#logo-wrapper {
    float: left;
    cursor: pointer;
}

#site-title {
    font-size: 50px;
    display: block;
    float: right;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 20px;
    user-select: none;
}

#icon-wrapper {
    float: right;
}

#logo-img {
    height: 80px;
    width: 80px;
    margin: 10px;
}

#cart-btn {
    height: 60px;
    width: 60px;
    margin: 20px;
    cursor: pointer;
}

#menu-btn {
    display: none;
}

#help_btn {
    display: none;
}

#help_wrapper {
    background-color: #252120;
    position: fixed;
    top: calc(75% + 100px);
    bottom: 10px;
    width: 18%;
    margin-left: 10px;
    border-radius: 8px;

    z-index: 80;
}